<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Course List</h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2">
                <a class="text-success">
                    <button type="button" class="btnAdd" (click)="add()">Add Course</button>
                </a>
            </span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr class="trHeader">
                    <th class="text-center">Tittle</th>
                    <th class="text-center">Duration</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Remove</th>
                </tr>
                <tr *ngFor="let list of courseList; let id = index">
                    <td>
                        <span (keyup)="changeValue(id, 'title', $event)" (blur)="updateList(id, 'title', $event)"
                            contenteditable="true">{{list.title}}</span>
                    </td>
                    <td>
                        <span contenteditable="true" (keyup)="changeValue(id, 'duration', $event)"
                            (blur)="updateList(id, 'duration', $event)">{{list.duration}} {{list.durationUnit}}</span>
                    </td>
                    <td>
                        <span contenteditable="true" (keyup)="changeValue(id, 'price', $event)"
                            (blur)="updateList(id, 'price', $event)">{{list.description}}</span>
                    </td>
                    <td>
                        <span class="table-remove">
                            <button type="button" class="btnDnger" (click)="remove(id)">Remove</button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- Editable table -->