.container{
    display: flex;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px 1px grey;
    margin-bottom: 20px;
}

.wrapper {
    margin-right: 20px;
    flex: 1;
}

.desc{
    font-weight: bold;
    font-size: 20px;
}

.link{
    color: #399;
}

.button {
    background: #f34;
    border-radius: 15px;
    height: 30px;
    display: flex;
    align-self: center;
    color: white;
    width: 75px;
    justify-content: center;
    font-weight: bold;
}

.active {
    border: 4px solid #179;
}